<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Form</h1>
    <form action="/" method="post">
        <input name="title" type="text" />
        <button type="submit">ok</button>
    </form>

    <a href="/about">To About</a>

    <hr>

    <a href="/api/users">API (get users)</a>

    <script>
        fetch('/api/users').then(res=> {
          return res.json()
        }).then(data => {
          console.log(data);
        })
    </script>
</body>
</html>